
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ShareSpace</title>
    <link rel="stylesheet" href="../static/css/6.css">
</head>
<body>


    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Find Your Perfect Workspace</h2>
                <p>Explore a variety of workspaces tailored to your needs.</p>
                <a href="{{url_for('login')}}" class="btn">Find WorkSpaces</a>
            </div>
        </div>
    </section>



    <!-- Footer -->
   
</body>
</html>