<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Login Form</title>
</head>

<body>
    <div class="box">
        <div class="flip-card-inner">
            <div class="box-login">
                <ul>
                    <form action="{{ url_for('login') }}" method="post">
                        <h1>LOGIN</h1>
                        <div class="email-login">
                            <input class="inpt" type="email" name="email" id="email" placeholder="Email" required>
                            <i class='fa fa-envelope'></i>
                        </div>

                        <div class="password-login">
                            <input class="inpt" type="password" name="password" id="password"
                                placeholder="Password" required>
                            <i id="eye-login" class="fa fa-eye-slash"></i>
                        </div>

                        <div class="forget">
                            <input type="checkbox" name="checkbox1" id="checkbox">
                            <label for="checkbox">Remember me</label>
                            <a href="#">Forget Password?</a>
                        </div>
                        <button type="submit" class="btn">LOGIN</button>
                    </form>
                    <div class="register-link">
                        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
