<!-- sidebar.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar" >
        <h2>ShareSpace</h2>
        <nav>
            <ul id="sidebar-menu">
                <a style="text-decoration: none;" href="{{url_for('home')}}" class="active"><li style="background-color: white; padding: 10px; border-radius: 5px; " >Home</li></a>
                <a style="text-decoration: none;" href="{{url_for('add')}}"><li style="background-color: white; padding: 10px; border-radius: 5px; margin-top: 4px;">Add/Manage Rooms</li></a>
                <a style="text-decoration: none;" href="{{url_for('home')}}"> <li style="background-color: white; padding: 10px; border-radius: 5px; margin-top: 4px;">Invoicing</li></a>
                <a style="text-decoration: none;" href="{{url_for('home')}}"><li style="background-color: white; padding: 10px; border-radius: 5px; margin-top: 4px;">Support</li></a>
                <a style="text-decoration: none;" href="{{url_for('home')}}"><li style="background-color: white; padding: 10px; border-radius: 5px; margin-top: 4px; ">Registered Users</li></a>
                <a style="text-decoration: none;" href="{{url_for('home')}}"><li style="background-color: white; padding: 10px; border-radius: 5px; margin-top: 4px; ">Offers</li></a>
                
               
                
                
                
            </ul>
        </nav>
    </div>

    
    
</body>
</html>
